<hr>
<div class="navbar-text pull-left">
    <a href="https://softuni.bg/users/profile/show/delian1914" target="_blank"><i class="fa fa-graduation-cap fa-2x"
                                                                 aria-hidden="true"></i></a>
    <a href="https://github.com/delian1986/Symfony-Exam-Project" target="_blank"><i class="fa fa-github fa-2x"
                                                                    aria-hidden="true"></i></a>

</div>
<div class="navbar-text pull-right">
    <p>&copy; 2018 - Project for SoftUni PHP MVC Course </p>
</div>