<div class="row">
    <div id="main" class="col-sm-9">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }} text-center">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

    </div>
</div>