{% extends 'base.html.twig' %}
{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <div class="row">
                <a href="{{ path('product_add') }}">Add Product</a>
                <a href="{{ path('add_initial_cash') }}">Add Cash</a>
                <a href="{{ path('category_add') }}">Add Category</a>
                <a href="{{ path('set_owner') }}">Set Shop Owner</a>
            </div>
        </div>
    </div>
{% endblock %}