{% extends 'base.html.twig' %}

{% block body %}
    <h1>Change Shop Owner</h1>
    <div class="well">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}

