{% extends 'base.html.twig' %}

{% block main %}
    {# @var order \ShopBundle\Entity\Order#}
        <form method="post" style="display: inline-block">
            <a href="{{ path("item_resell", {'id':order.lineItem.id}) }}" class="btn btn-primary"
               role="button"> ReSell</a>
        </form>
    {% endfor %}

{% endblock %}

{% block body_id %}

{% endblock %}

