{% extends 'base.html.twig' %}

{% block main %}

    {% if products is not empty %}
        <h2>Your products:</h2>
        {% for name,item in products %}
            <div>
                <p>{{ name }}</p>
                {{ dump(item) }}
                {# @var value \ShopBundle\Entity\SoldProduct#}
                {% for value in item %}
                    <p>Bough quantity: {{ value.quantity }}</p>
                    {#<p>Total price of this product: {{ product.productTotalPrice|number_format(2) }}</p>#}
                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
        <h2>You don't have any products yet</h2>
    {% endif %}

{% endblock %}

{% block body_id %}

{% endblock %}

