{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category</h1>
    <div class="well">
            {{ form_start(form) }}

            {{ form_row(form.name) }}

            {{ form_row(form.Save) }}

            {{ form_end(form) }}
        </div>

{% endblock %}



