{% extends 'base.html.twig' %}

{% block body %}
    <h1>We are sorry, but product {{ productName }} is not in the store at this moment :(</h1>

    <h4><a href="{{ path('homepage') }}">return to the homepage</a></h4>
{% endblock %}